.link-active{
    text-decoration: none;
    color: inherit;
    //padding-left: 20px;  
    color: #17d1ff;
    font-weight: bold;
}

.text-link {
    text-decoration: none;
    color: inherit;
    //padding-left: 20px;   
    color: grey; 
}

.text-link:hover {
    color: #4da7bd;
}

.link-active:hover {
    color: #4da7bd;
}

.navbar-div{
    display: flex;
}

#navbarText1{
    width: 34%;
}
#navbarText2{
    width: 33%;
}
#navbarText3{
    width: 33%;
    display: flex;
    justify-content: end;
}

.nav-help{
    display: none;
}

@media (max-width: 992px)
{
    .navbar-div{
        display: block;
    }  
    #navbarText1, #navbarText2{
        width: 100%;
        justify-content: center;
        border: "1px solid red" !important
    }
    #navbarText3{
        display: none;
    }

    .nav-help{
        display:block;
    }
}